{% extends 'base.html' %}
{% load widget_tweaks %}
{% load guardian_tags %}
{% load static %}

{% block body_block %}
{% get_obj_perms request.user for club as "club_perms" %}

<script src="../../static/javascript/copy.js"></script>
<section class='section'>
<div class='container'>
      {% include 'club_bar.html' with club=club club_id=club.id user=request.user%}

      <br />
      {% if messages  %}
            {% for message in messages %}
            <div class="notification is-info">
              <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            </div>

            {% endfor %}
      {% endif %}


    <h1> {{ club.club_name }} Feedback </h1>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSerGfiBBQLVtb9sy0FYT3Whw0HCUMeTJi3BSoUqSMCgmV-J0A/viewform?embedded=true" width="720" height="951" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </div>
     




</p>
  </form>
</div>
</section>

{% endblock body_block %}
