{% extends 'base_login.html' %}
{% load static %}

{% block body_block %}
    <section class="login p-fixed d-flex text-center bg-primary common-img-bg">
        <!-- Container-fluid starts -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
                    <div class="login-card card-block auth-body mr-auto ml-auto">
                        <form class="md-float-material" action="{% url 'suite:login' %}" method="post"
                              accept-charset="utf-8">
                            {% csrf_token %}
                            <div class="text-center" style="color: #222; font-size: 36px; text-transform: uppercase">
                                <span style="font-weight: 600">Club</span>Spot
                            </div>
                            <div class="auth-box">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-left txt-primary">Sign In</h3>
                                        {% if form.errors %}
                                            {% for error in form.non_field_errors %}
                                                <div class="text-danger text-left">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <hr/>
                                <div class="input-group d-flex flex-column">
                                    <input type="email" name="username" class="form-control w-full"
                                           placeholder="Your Email Address" value="{{ form.Email.value }}"
                                           style="width: 100%">
                                    {% for field in form %}
                                        {% if field.errors and field.label == 'Email' %}
                                            {% for error in field.errors %}
                                                <div class="text-danger text-left">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="input-group d-flex flex-column">
                                    <input type="password" name="password" class="form-control" placeholder="Password"
                                           style="width: 100%">
                                    {% for field in form %}
                                        {% if field.errors and field.label == 'Password' %}
                                            {% for error in field.errors %}
                                                <div class="text-danger text-left">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="row m-t-25 text-left">
                                    <div class="col-sm-7 col-xs-12">
                                        <div class="checkbox-fade fade-in-primary">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i
                                                        class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                <span class="text-inverse">Remember me</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <button type="submit"
                                                class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                                            Sign in
                                        </button>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <a class="f-w-600 text-inverse" href="{% url 'suite:register' %}">Create an
                                            account</a>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                                        <p class="text-inverse text-left"><b>Cypher - HackMIT</b></p>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <!-- end of form -->
                    </div>
                    <!-- Authentication card end -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>

{% endblock body_block %}
