{% load static %}
{#<script type="text/javascript" src="{% static 'pages/dashboard/custom-dashboard.js' %}"></script>#}
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pcoded.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/demo-12.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>